<label for="to_do_list_complete" class="list_row">
    <h3>Completed Tasks</h3>
</label>
<ul>
    <li>
        <ul class="list_row">
            <li>
                <h3>Task</h3>
            </li>
            <li>
                <h3>Date Completed</h3>
            </li>
        </ul>
    </li>
    <% completeTasks.forEach(task=> { %>
        <% if(task.complete) { %>
            <li>
                <ul class="list_row">
                    <li>
                        <%= task.taskBody %>
                    </li>
                    <li>
                        <%= task.completionDate %>
                    </li>
                </ul>
            </li>
            <% } %>
                <% }) %>
</ul>