ul {
    list-style-type: none;
    position: center;
    
}

li > * {
    margin: 10px;
}

.list_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    text-align: left;
}

.list_row > * {
    margin: auto;
    flex-basis: 33%;
    word-wrap: break-word;
    display: inline;
    margin: 5px auto 5px auto;
}

.hidden {
    display: none;
}


.add_task {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin: 10px 10px 10px 4px;
}

.date_select {
    display: inline flex;
}