div {
    margin: auto
}

.task_item_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}

.task_item_headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.row_align {
    display: flex;
}

.task_item_row > * {
    border: solid black 1px;
    width: 30%;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
}

li {
    max-width: 30%;
}

.hidden {
    display: none;
}

