<%- include('./partials/head.ejs') %>

    <body>

        <div>
            <ul name="to_do_list" id="to_do_list">
            </ul>
        </div>

        <h4>Show Tasks for Date Range: </h4>

        <form class="date_radio_button_options">
            <input type="radio" name="date_range_select" id="weekRange" value="Week" onchange="getLists">Week</input>
            <input type="radio" name="date_range_select" id="monthRange" value="Month" checked="checked" onchange="getLists">Month</input>
            <input type="radio" name="date_range_select" id="yearRange" value="Year" onchange="getLists">Year</input>
            <input type="radio" name="date_range_select" id="customRange" value="custom" onchange="getLists">Choose Range</input>
            <div>
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date" id="start_date" max='<%= date %>' >
            </div>
            <div>
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date" id="end_date" max='<%= date %>'> 
            </div>
        </form>

        

        <!--Buttons to display/hide list of completed tasks-->
        <div class="list_row">
            <div>
                <button type="button" name="show_complete_tasks" id="show_complete_tasks" onclick="showComplete()">Show
                    Completed Tasks</button>
            </div>
            <div>
                <button type="button" name="hide_complete_tasks" id="hide_complete_tasks" onclick="hideComplete()"
                    class="hidden">Hide</button>
            </div>
        </div>

        <!--List of completed task. Hidden on page load. Displayed/hidden on button push-->
        <div name="to_do_list_complete" id="to_do_list_complete" class="hidden">
        </div>

        <!--Add a new task to the list of incomplete tasks-->
        <button class="add_task" name='add_task' id='add_task'>Add Task</button>
        <label for="new_task" name="new_task_label" id="new_task_label">Add Task</label>
        <input type="text" name="new_task" id="new_task">

    </body>

    </html>