<%- include('./partials/head.ejs') %> 
<!-- Add Navigation bar as include-->

    <body>

        <div>
            <!--List of available to-do lists-->
            <ul>

            </ul>
        </div>

    </body>

    </html>