<%- include('./includes/head.ejs') %>

    <body>

        <div>
            <ul name="to_do_list" id="to_do_list">
            </ul>
        </div>
        
        <!--List of incomplete tasks. Displayed on page load-->

        <form class="date_select" action="customDate">
            <h4>Show Tasks for Date Range: </h4>
            <div>
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date">
            </div>
            <div>
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date">
            </div>
        </form>

        <!--Buttons to display/hide list of completed tasks-->
        <div class="list_row">
            <div>
                <button type="button" name="show_complete_tasks" id="show_complete_tasks" onclick="showComplete()">Show
                    Completed Tasks</button>
            </div>
            <div>
                <button type="button" name="hide_complete_tasks" id="hide_complete_tasks" onclick="hideComplete()"
                    class="hidden">Hide</button>
            </div>
        </div>

        <!--List of completed task. Hidden on page load. Displayed/hidden on button push-->
        <div name="to_do_list_complete" id="to_do_list_complete" class="hidden">
            <label for="to_do_list_complete" class="list_row">
                <h3>Completed Tasks</h3>
            </label>
            <ul>
                <li>
                    <ul class="list_row">
                        <li>
                            <h3>Task</h3>
                        </li>
                        <li>
                            <h3>Date Completed</h3>
                        </li>
                    </ul>
                </li>
                <% completeTasks.forEach(task=> { %>
                    <% if(task.complete) { %>
                        <li>
                            <ul class="list_row">
                                <li>
                                    <%= task.taskBody %>
                                </li>
                                <li>
                                    <%= task.completionDate %>
                                </li>
                            </ul>
                        </li>
                        <% } %>
                            <% }) %>
            </ul>
        </div>

        <!--Add a new task to the list of incomplete tasks-->
        <button class="add_task" name='add_task' id='add_task' onclick="addNewTask()">Add Task</button>
        <label for="new_task" name="new_task_label" id="new_task_label">Add Task</label>
        <input type="text" name="new_task" id="new_task">

        

    </body>

    </html>